@import "tailwindcss";
@media print {
  @page {
    size: A4;
    margin: 0;
  }

  .pdf-page {
    width: 210mm !important;
    min-height: 297mm !important;
    page-break-after: always;
    break-after: page;
    overflow: hidden;
  }
}